

/*              CABECERA              */

#cabecera
{
	
	color:#bfbfbf;
	font-size: 20px;
	height: 120px;
	padding: 10px;
}
div#cabecera  a,  a:visited {
	color: #bfbfbf;
	text-decoration: none;
	
} 
div#cabecera  a:hover {
	color: #dddddd;
	
} 
div #titulo{
	text-align: center;

}
div #bienvenida{
	text-align: right;
}

#logo{
	max-width: 120px;
	justify-content: center;

}

/* --------------------------------- */





footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	clear: both;
	width: auto;
	height: 40px;
	padding: 10px;
	text-align: center;
	background-color: #010101;
	color: #f2f2f2;

}

/*        BARRA DE NAVEGACION        */

#navigator{
   display: flex;
   justify-content: center;
   padding:1px;
   margin:10px;
   font: 20px Verdana;
   
}

#nav
{
	list-style: none;
	background-color:#000000; 
	padding-right: 0px;
	

}

#nav ul
{
	margin: 0;
	padding: 0;
	width: auto;
	display: none;

}

#nav li
{
	margin:10px;
	font-size:24px;
	float:left;
	position:relative;
  
}


#nav a{
	text-decoration: none;
	text-align: auto;
    font:bold 20px Verdana;
    color:white;
    padding:5px;
}

#nav a:hover
{
	text-decoration: none;
	color: gray;
}

/* --------------------------------- */

/*  INFORMACION QUE SE MUESTRA EN CENTRO   */

#contenedor
{
	width: 90%;
	margin-top: 10px;
	margin: auto;
	padding: 10px;
}

#content_area
{
	float: center;
	width: 70%;
	margin:auto;
	text-align:center;
	padding: 20px;
}

/* ------------------------------------- */

p{
   text-align:center;
}

body{
	height:100%;
    display: flex;
    flex-direction: column;
    font-family: helvetica;
    color: #1e1e1e;

}


.content_area {
	width: 100px;
	height: 100px;

}


div.mostrarPelicula{
	text-align: center;
}

div.peli_img img.imgPelicula{
	width: 200px;
    height: 200px;
}
 

 div#contenedor div.datosPeli{
    display: inline-block;
    width: 30%;
	align-items: center;
}
.datos p{
    text-align: right;
}

 /* ------------------------------------- */

 /*  CATALOGO        */

div.filaPelis{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
}


div.filaPelis div.pelicula img{
	width: 300px;
    height: 300px;	
}

 /* ------------------------------------- */

 /*   CARRITO  */

 div.celda{
	width: 80%;
    height: 150px;
	border: 2px solid; /*para saber que ocupa*/
	margin:5px;


 }


 div.celda_peli_img{

	display: grid;
	grid-template-columns: repeat(2);
	float: left;
	margin-left: 5px;

 }



 div.celda_peli_img img{
	width: 100px;
    height: 100px;
 }

 div.botonSocio{
	float: right;
	
}

